@import "font.css";

* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
	font-size: 8px;
}


@media screen and (max-device-width: 320px) and (max-device-height: 480px){
	body {
		font-size: 6px;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) and (min-device-height: 485px) and (max-device-height: 570px){
	body {
		font-size: 7px;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) and (min-device-height: 600px){
	body {
		font-size: 8px;
	}
}

@media screen and (min-device-width: 385px) and (max-device-width: 414px) and (min-device-height: 720px){
	body {
		font-size: 9px;
	}
}

/*@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (min-device-height: 480px){
	body {
		font-size: 7px;
	}
}

@media only screen and (max-device-width: 320px) and (max-device-height: 480px) {
	body {
		font-size: 6px;
	}
}*/

/*@media only screen and (min-device-width: 400px) and (min-device-height: 730px) {
	body {
		font-size: 9px;
	}
}
*/

.screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	background: radial-gradient(circle farthest-corner at 50% 40%,rgba(255,255,255,.7) 8%, rgba(255,255,255,0.4) 60%),
	linear-gradient(to bottom, #C431C4, #8C59D9);
	background-color: #DCA0D0;
	position: absolute;
	font-weight: 100;
	overflow-y: hidden;
	color: #fff;
}

.swiper-container {
	width: 100vw;
	height: 100vh;
}


.location {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5em;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	letter-spacing: 0.12em;
	margin-top: 5%;
}

.location p {
	margin-left: 20px;
	font-size: 2em;
	text-align: left;
}

.location p span {
	font-size: 0.5em;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	letter-spacing: 0.1em;
}

.weather-icon {
	font-size: 2em;
}

.weather-status p{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	font-size: 2.2em;
	align-items: center;
	margin-top: -5%;
	padding: 0 10% 0;
	letter-spacing: 0.1em;
}

.temp {
	font-family: 'HelveticaNeueCyr-UltraLight', sans-serif;
	font-size: 30em;
	color: #fff;
	text-align: center;
	margin: 0;
	position: relative;
}

.temperature p span {
	font-size: 0.4em;
	padding-top: 2%;
	position: absolute;
}


.status-bar {
	text-align: center;
	color: #fff;
	font-size: 2.2em;
	line-height: 2em;
}

.tabs {
	display: flex;
	width: 100vw;
	height: 20vh;
	position: absolute;
	bottom: 0;
	background-color: #DCA0D0;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	transition: all .3s;
	will-change: transform;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.tabs-hide {
	will-change: transform;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}



.tab-1,
.tab-2,
.tab-3,
.tab-4 {
	width: 25vw;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	letter-spacing: 0.1em;
}

.day1,
.day2,
.day3,
.day4, {
	font-size: 1em;
}

.tab-1,
.tab-2,
.tab-3,
.tab-4, {
	padding: 3%;
	box-sizing: border-box;
}

.tab-1-temp,
.tab-2-temp,
.tab-3-temp,
.tab-4-temp {
	font-size: 1.8em;
	padding-left: 2%;
}

.tab-1 {
	background-color: #da81e3;
	}

.tab-2 {
	background-color: #cc7edf;
}

.tab-3 {
	background-color: #b67bdb;
}

.tab-4 {
	background-color: #AD7BDB;
}

.additional-info {
	width: 100%;
	height: 0vh;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	font-size: 2em;
	margin-top: 2%;
	float: left;
}

.show {
	padding: 3% 14% 0;
	letter-spacing: 2px;
	opacity: 0;
	transition: .2s all;
	height: 18vh;
}

.additional-opacity {
	opacity: 1;
}